.cfw_from_filed #wpb_gender {
    cursor: pointer;
    width: 250px;
    padding: 6px;
}
.main-header {
    text-align: center;
}
.main-header h2 {
    margin-top: 10px !important;
    padding-bottom: 10px;
    padding-top: 12px;
    font-size: 28px;
    margin-bottom: 1px !important;
    color: #000;
    font-weight: 500;
    width: 100%;
}
.wpb_conditions {
    border: 1px solid;
    border-color: #a9a6a9;
    border-radius: 3px;
    background: #ffffff;
    width: 131px !important;
    min-height: 38px;
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}
.main-header:after {
    border: 1px solid;
    content: "";
    color: #000;
    display: block;
}
section.cfw-calc-header {
    border: 1px solid;
    padding: 0 15px 15px 15px;
/*    width: 100% !important;*/
}
h3.cfw_form_heading_1 {
    font-size: 20px;
    font-weight: 300;
}
.cfw_form h3.cfw_form_heading_1 {
    border-bottom: 1px solid;
    border-color: #000;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-top: 0px;
    color: #000;
}
.cfw_form h3 {
    padding-top: 8px;
}
label.wpb_field1 {
    font-size: 20px;
    font-weight: 600;
}
.main-header h3 {
    border-bottom: 1px solid;
    margin-top: 35px !important;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: left;
}
.containers_activity_rows {
    padding: 8px;
}
.cfw_activity {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 30px;
}
.cfw_radio_fe {
    background-color: #e6e6e6;
    padding: 0.625rem;
    cursor: pointer;
}
.containers_fluid_rows label .custom_class {
    cursor: pointer;
}
.containers_fluid_rows .wpb_field1 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}
.wpb_calc_btn {
    margin-top: 18px;
    padding: 5px 8px 20px 8px;
}
.containers_fluid_rows {
/*    background: #faf8f6;*/
    padding: 5px 8px 20px 8px;
    margin-top: 20px;
    max-width: 100%;
/*    width: 100%;*/
}
.cfw_row span.cfw_radio_title {
    padding-left: 2px;
}
.wpb_calc_btn #calculatebtn {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
/*    text-transform: uppercase;*/
    text-align: center;
    min-width: 175px;
    min-height: 44px;
    cursor: pointer;
}
button#calculatebtn:hover {
    background-color: rgb(35, 62, 84);
    color: #fff;
}
.cfw_errormessage {
    text-align: center;
    color: #842029;
    background-color: #f8d7da;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px 0px;
    width: 210px !important;
}
.cfw_calc_message {
    text-align: center;
    color: #842029;
    background-color: #f8d7da;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px 0px;
}
.rightSec {
    display: inline-block;
    vertical-align: top;
/*    width: 420px;*/
}
.rightSec .gender_box > div {
    border-radius: 3px;
    border: solid 1px #979797;
    background-color: #fff;
    padding: 3px 4px;
    max-width: 100%;
}
.radiCustom.gender_box input[type="radio"], .custmRadio input[type="radio"] {
    display: none;
}
.rightSec .gender_box label > input[type="radio"]:checked + span {
    border-radius: 3px;
    padding: 6px 34px 7px 35px;
    background-color: #4f748e;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.rightSec .gender_box label > input[type="radio"] + span {
    content: "";
    display: inline-block;
    border-radius: 3px;
    padding: 6px 34px 7px 35px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.cfw_from_filed {
    margin-top: 12px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cfw_checked_activity input[type=radio]:checked+.cfw_radio_fe {
    background-color: #4f748e;
    color: #fff;
}
input#cfw_activity {
    position: absolute;
    visibility: hidden;
}
.cfw_activity label {
    cursor: pointer;
}
.cfw_radio_fe:hover {
    background-color: rgba(223,51,28,.4);
}
span.cfw_radio_title {
    font-size: 20px;
    font-weight: 400;
}
span.cfw_desc {
    padding-left: 15px;
    font-size: 15px;
    color: #676767;
}
.wpb_schedule_content {
    margin-top: 30px !important;
}
.wpb_display_table ul.nav-tab-wrapper.woo-nav-tab-wrapper {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.wpb_schedule_content .tab-content {
    display: none;
    padding: 15px 0;
}
.wpb_schedule_content .tab-content.current {
    display: inherit;
    text-align: center;
}
li.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    height: 72px;
    border-radius: 45px;
    border: solid 4px;
    border-color: #cff09e;
    background-color: #eeffcf;
    text-align: center;
    width: 280px;
    font-size: 26px;
    font-weight: 500;
    line-height: 69px !important;
    cursor: pointer;
}

li.nav-tab.nav-tab-active {
    border: solid 4px;
    border-color: #83b730;
    background-color: #f8f4ab;
    font-weight: 600;
    position: relative !important;
}
.site-main .entry-content ul:not([class*="elementor-"])>li::before {
    content: none !important;
}
li#calories_weight_loss {
    margin-right: 16px;
}
ul.restultWrapList {
    list-style-type: none;
    padding: 0;
    margin: 22px 0 0 0;
}
.restultWrapList li {
    min-height: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 10px;
}
.restultWrapList li:first-child {
    background-color: #a1c955;
    font-weight: 600;
}
.restultWrapList li .left, .restultWrapList li .right {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 10%;
}
.restultWrapList li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
}
.restultWrapList li.customStyle .left {
    background-color: #a1c955;
    min-height: 50px;
    line-height: 48px;
    font-size: 20px;
    position: relative;
}
.restultWrapList li.customStyle .left:after {
    content: '';
    position: absolute;
    right: -14px;
    top: 15px;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: solid 15px;
}
.restultWrapList li.customStyle .right {
    background-color: #f8f4ab;
    min-height: 50px;
    line-height: 48px;
    font-size: 24px;
    font-weight: bold;
}
div#cfw_calc_form {
    background: #faf8f6;
}
.cfw_gender_label {
    display: contents;
}

@media only screen and (max-width: 768px) {
    section.cfw-calc-header {
        max-width: 100% !important;
    }
    .cfw_innerdiv_1 {
        flex-direction: column;
    }
    .cfw_innerdiv_2 {
        flex-direction: column;
        padding-top: 5px;
    }
    .main-header h2 {
        font-size: 20px !important;
    }
    .containers_fluid_rows .wpb_field1 {
        font-size: 18px;
        width: 100%;
        padding: 10px 0 10px 0;
    }
    .cfw_from_filed #wpb_gender {
        width: 156px;
    }
    .cfw_from_filed {
        padding-top: 5px;
        flex-wrap: wrap;
    }
    .rightSec {
        max-width: 100%;
    }
    .cfw_activity {
        grid-gap: 10px 15px;
    }
    span.cfw_radio_title {
        font-size: 15px;
    }
    .wpb_display_table .nav-tab-active:before {
        left: 45%;
    }
    li.nav-tab {
        font-size: 20px;
        width: 100%;
    }
    .restultWrapList li.customStyle .left {
        font-size: 16px;
    }
    .restultWrapList li.customStyle .right {
        font-size: 22px;
    }
}